.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  @media only screen and(max-width: $bp-largest) {
    margin: 0 0;
    max-width: 100%;
    width: 100%;
  }

  //min-height: 50rem;
}

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom:  var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;

  form {
    display: flex;
  }
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: row;
    }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  min-height: 100vh;

  @media only screen and (max-width: $bp-medium) {
    flex: 1;
  }
}

.main  {
  background-color: #fff;
  flex: 1;
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  border: var(--line);

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.description {
  padding: 3rem;
  margin-right: 4.5rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);

  flex: 0 0 60%;
  @media only screen and (max-width: $bp-medium) {
    margin-right: 0;
    margin-bottom: 3.5rem;
  }


}

.user-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
